<section>
	<article>
	<%= @index.texte1 %>
	</article>
	<article>
	<%= @index.texte2 %>
	</article>
	<article>
	<%= @index.texte3 %>
	</article>
	<article>
	<%= @index.texte4 %>
	</article>
</section>