<div id="left_sidebar">
    <div class="profil">
  		<div class="img"></div>
  		<div class="info">
  			<span>Profil</span>
  		</div>
    </div>
</div>
<center>
	<div id="central_block">
	</div>
</center>
