<div class="col-sm-8">
	<%= will_paginate @veilles %>
	<% @veilles.each do |v| %>
	<section>
		<article>
			<strong><div class="vtitle"><%= v.titre %><br/></div></strong><div class="separator-article"></div>
			<div class="veille"><%= v.texte.bbcode_to_html_with_formatting.html_safe %><br/></div>
		</article>
	</section>
	<% end %>
	<%= will_paginate @veilles %>
</div>
