// Place all the styles related to the Application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

// @import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,200,700);
// @import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic);


@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700,400);

@import "compass";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/transition";

body {
	background-color: #f4f7f7;
	header {
			background-color: #ffffff;
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			color: #2c2526 !important;
				background-color: white;
				min-height: 100px;
		.id {
			padding: 30px;
			.nom-laila {
				font-weight: 700;
				letter-spacing: 2px;
				font-size: 14px;
				display: block;
			}
			.job-laila {
			color: #2c2526 !important;

				letter-spacing: 1px;
				font-weight: 300;
				display: block;
			}
		} // ID
			.first-separator-v {
				width: 2px;
				height: 55px;
				background: #eae9e4;
				float: left;
				margin-top: 20px;
				margin-right: 30px;
			}
			.second-separator-v {
				width: 2px;
				height: 55px;
				background: #eae9e4;
				float: left;
				margin-top: 20px;
				margin-left: 30px;
			}
			.menu {
				font-family: 'Open Sans', sans-serif;
				font-weight: 700;
				line-height: 100px;
				color: #c8c0b6;

				&.act {
					color: #2c2526 !important;
				}
			}
			.specialiste {
				line-height: 100px;
				margin-left: 15px;
				letter-spacing: 2px;
			}
	} // Header
	.separator {
		margin-bottom: 40px;
	}

	section {
		background-color: #ffffff;
		.carousel{
			.carousel-caption {
				font-family: 'Open Sans', sans-serif;
				font-weight: 700;
			}
			.carousel-control {
				background-image: none !important;
			}
	} // Carousel
		nav {
			&.header {
				text-transform: uppercase;
				font-family: 'Open Sans', sans-serif;
				font-weight: 500;
				padding-top: 50px;
				font-size: 30px;
				.nav-article {
					color: #c8c0b6;
					&.act {
						color: #2c2526 !important;

					}
				}
				.article-separator {
					width: 2px;
					height: 55px;
					background: #eae9e4;
					float: left;
				}
			} // Header
		} // Nav
	article {
		padding-top: 100px;
		height: 920px;
		padding-left: 30px;
		.titre {
			font-family: 'Oswald', sans-serif;
			font-weight: 400;
			font-size: 24px;
			margin-bottom: 15px;
		}
		.light-off {
			color: #32589C;
		}
		.news {
			color: #E96B56;
		}
		.actu {
			padding-left: 5px;
		}
		.separator-article {
			height: 3px;
			width: 30px;
			background: #eae9e4;
			margin-bottom: 30px;
		}

		} // Article


	} // Section
	footer {
	bottom: 0;
	background-color: #6C7A89;
	.contact-footer {
		text-align: right;
		.contact-bot {
			text-transform: uppercase;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			letter-spacing: 1px;
			margin-bottom: 3px;
			font-size: 18px;
			padding-top: 40px;
			padding-right: 20px;
			color: #BEC9D5;
			.email{
				font-weight: 400;
				letter-spacing: 2px;
			}
			.infos {
				margin-right: 600px;				
				text-transform: uppercase;
				text-align: left;
				font-family: 'Open Sans', sans-serif;
				font-weight: 700;
				line-height: 100px;
				color: #BEC9D5;
				} 
			} // Contact Bot
		} // Contact Footer

	} // Footer
} // Body



























// // @media only screen and (max-width: 1030px) {
// // 	.button6 {
// // 		display: none !important;
// // 	}
// // }

// // @media only screen and (max-width: 500px) {
// //     #menu_toggle {
// //         display: block !important;
// //     }
// //     .navigation {
// //     	display: none !important;
// //     }
// // }

// /* design Karine */
// /*--
// body {
// 	top: 0;
// 	left: 0;
// 	background-color: #f4f4f5;

// 	header {
// 		margin-bottom: 100px;
// 		center {
// 			outline: none;
// 			.title_header {
// 				display: table-cell;
// 				height: 300px;
// 				font-family: sans-serif;
// 				text-align: center;
// 				text-align: center;
// 				vertical-align: middle;
// 				outline: none;
// 				span {
// 					&.name {
// 						font-size: 60px;
// 						font-weight: 300;
// 					}
// 					&.sub {
// 						color: #ccb8a1;
// 						font-size: 20px;
// 						opacity: 0.8;
// 					}
// 				}
// 				.line {
// 					width: 190px;
// 					margin-left: auto;
// 					margin-right: auto;
// 					margin-bottom: 5px;
// 					border-bottom: 1px solid #000;
// 				}
// 			}
// 		}
// 		#menu_toggle {
// 			display: none;
// 			float: right;
// 		}
// 		#menu_inline {
// 			position: relative;
// 			width: 100%;
// 			height: 46px;
// 			padding:0px;
// 			margin:0 auto !important;
// 			font-size: 11px;
// 			text-align: center;
// 			ul.navigation {
// 				display: inline-block;
// 				overflow: hidden;
// 				li {
// 					position:relative;
// 					display: block;
// 					float: left;
// 				    border-left: 1px solid rgba(9, 9, 9, 0.125);
// 				    list-style: none;
// 				    outline: none;
// 				    a {
// 				    	position: relative;
// 				    	display: inline-block;
// 				    	z-index:2;
// 				    	width: 140px;
// 				    	height: 46px;
// 					    padding: 12px 20px 14px;
// 					    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
// 					    font: 20px sans-serif;
// 					    color: #5d5d5d;
// 					    text-decoration:none !important;
// 					    white-space:nowrap;
// 					    &:hover{
// 					       height: 60px;
// 						   margin-bottom: 30px;
// 						   padding-top: 20px;
// 						   background: rgba(9, 9, 9, 0.125);
// 						   border-top-left-radius: 5px;
// 						   border-top-right-radius: 5px;
						 
// 						    &:before {
// 							    content:"";
// 								position: absolute;
// 								left: calc(50% - 70px);
// 								top: 100%;
// 								border-top: 30px solid rgba(9, 9, 9, 0.125);
// 								border-top-color: rgba(9, 9, 9, 0.125);
// 								border-right: 70px solid transparent;
// 								border-left: 70px solid transparent;
// 							}
// 						}
// 						&:active {
// 							outline: 0;
// 						}
// 				    }
// 				    &:hover {
// 				    	border: none;
// 				    }
// 				    &:last-child{
// 				    	border-right: 1px solid rgba(9, 9, 9, 0.125);
// 					    &:hover {
// 					    	border: none;
// 					    }
// 					}
// 				    &:after {
// 					    content:'.';
// 					    text-indent:-9999px;
// 					    overflow:hidden;
// 					    position:absolute;
// 					    width:100%;
// 					    height:100%;
// 					    top:0;
// 					    left:0;
// 					    z-index:1;
// 					    opacity:0;
// 					    @include background-image(linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5)));
// 					    @include box-shadow(1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff);
// 					    @include transition(all 0.25s);
// 				    }
// 				}
// 				li:hover ~ li:nth-child(n+1) {
// 					border-color: red;
// 				}
// 			}
// 		}
// 	}

// 	#left_sidebar {
// 		width: 290px;
// 		height: 600px;
// 		float: left;
// 		border-right: 1px solid #000;
// 		.profil {
// 			color: #5d5d5d;
// 			font-size: 20px;
// 			margin-left: 50px;
// 		}
// 	}

// 	#central_block {
// 		width: 800px;
// 		height: 400px;
// 		border: 1px solid #000;
// 	}

// 	footer {
// 		position: fixed;
// 		float: right;
// 		width: 100%;
// 		height: 200px;
// 		bottom: 0;
// 		background-color: #2c2924;
// 		.infos_footer {
// 			.phone {}
// 			.mail {}
// 			.adress {}
// 			.follow {
// 				position: relative;
// 				float: right;
// 				top: 80px;
// 				right: 100px;
// 				span {
// 					position: relative;
// 					display: inline-block;
// 					top: -5px;
// 					margin-right: 20px;
// 					font-size: 20px;
// 					color: rgba(255,255,255,0.8);
					
// 				}
// 				div {
// 					display: inline-block;
// 					width: 50px;
// 					height: 35px;
// 					outline: none;
// 					&.twitter {
// 						background-image: asset-url("twitter_logo.png", image);
// 						background-repeat: no-repeat;
// 						background-size: 40px auto;
// 						cursor: pointer;
// 						opacity: 0.8;
// 						&:hover {
// 							opacity: 1;
// 						}
// 					}
// 					&.linkedin {
// 						background-image: asset-url("linkedin_logo.png", image);
// 						background-repeat: no-repeat;
// 						background-size: 40px auto;
// 						cursor: pointer;
// 						opacity: 0.8;
// 						&:hover {
// 							opacity: 1;
// 						}

// 					}
// 				}
// 			}
// 		}
// 	}
// }
// --*/



// body {
// 	background-color: #f5f5f5;
// 	.container {
// 		padding: 0;
// 	}
// 	.bloc-g {
// 		background-color: white;
// 		border-radius: 1px;
// 		border-style: solid;
// 		border-color: #dedede;
// 		border-width: 1px;
// 		padding: 13px;
// 		margin-bottom: 20px;
// 		@include box-shadow(black 2px);
// 	}
// 	nav {
// 		.navbar-header {
// 			background-color: white;
// 		}
// 	}
// 	header	{
// 		background-color: white;
// 		font-family: 'Titillium Web', sans-serif;
// 		text-transform: uppercase;
// 		color: #272926;
// 		border-bottom: 1px solid #d0d0d0;
// 		padding-bottom: 15px;
// 		.title {
// 			font-weight: 700;
// 			font-size: 42px;
// 			letter-spacing: 3px;
// 		}

// 		.subtitle {
// 			font-size: 24px;
// 			font-weight: 200;
// 		}
// 		.btn {
// 			background-color: white;
// 			font-family: 'PT Serif', serif;
// 			font-weight: '700';
// 		}
// 		.fix-header{
// 			padding-top: 50px;
// 		}
// 		form {
// 			display: inline;
// 		}
// 		nav {
// 			border-top: #dedede;
// 		}
// 	}
// 	aside {
// 		&.profil {
// 			.name {
// 				font-family: 'Titillium Web', sans-serif;
// 				letter-spacing: 1px;
// 			}
// 			.mail {
// 				font-weight: 700;
// 			}
// 		}
// 	}
// 	section {
// 		&.index {
// 			h3 {
// 				color:#2b84d3;
// 				font-family: 'Titillium Web', sans-serif;
// 				font-weight: 600;
// 				p {
// 					display: inline-block;
// 				}
// 			}
// 			article {
// 				padding-left: 5px;
// 			}
// 		}
// 		&.veille {
// 			line-height: 25px;
// 		}
// 	}


// 	nav {
// 		overflow: hidden;
// 		&.visible-xs-block {
// 			.submenu {
// 				padding-bottom: 15px;
// 			}
// 		}
// 	}

// 	/* -- Panneau Admin - Devise -- */
// 	.fix-mobile {
// 		margin: 30px;
// 	}

// 	//LUCCA DEVISE + FORM + ADMIN
// 	.form-signin {
// 		max-width: 300px;
// 		padding: 19px 29px 29px;
// 		margin: 0 auto 20px;
// 		background-color: #fff;
// 		border: 1px solid #e5e5e5;
// 		-webkit-border-radius: 5px;
// 		   -moz-border-radius: 5px;
// 		        border-radius: 5px;
// 		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
// 		   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
// 		        box-shadow: 0 1px 2px rgba(0,0,0,.05);
// 	}

// 	.form-signin .form-signin-heading,
// 	.form-signin .checkbox {
			
// 	}
// 	.form-signin input[type="text"],
// 	.form-signin input[type="password"] {
// 		font-size: 16px;
// 		height: auto;
// 		margin-bottom: 15px;
// 		padding: 7px 9px;
// 	}
// } // end of body 
// //END OF LUCCA
// // IBRAHIM

// .item img {
// 	min-height: 500px;
// 	max-height: 500px;
// 	width: auto;
// }

// .carousel {
// 	width: 975px;
// 	height: 300px;
// }

// .separator {
// 	width: 40px;
// 	height: 5px;
// 	background: #fbc90d;
// 	margin-top: 25px;
// }

// .profil-separator {
// 	width: 40px;
// 	height: 5px;
// 	background: #ddddd5;
// 	margin-top: 15px;
// 	margin-bottom: 5px;
// }

// .profil-separator-bottom {
// 	width: 70px;
// 	height: 5px;
// 	background: #ddddd5;
// 	margin-top: 15px;
// 	margin-bottom: 15px;
// }

// .separator-article {
// 	width: 33%;
// 	margin-left: 33%;
// 	height: 5px;
// 	background: #ddddd5;
// 	margin-bottom: 15px;
// }


// .separator-index {
// 	width: 33%;
// 	height: 5px;
// 	background: #ddddd5;
// 	margin-bottom: 15px;
// }

// .red {
// 	 //background: rgba(255, 22, 22, 0.5);
// 	 color: rgba(255, 22, 22, 0.5);
// 	// background: #ff2222;
// }
// .blue {
// 	 //background: rgba(22, 22, 255, 0.5);
// 	 color: rgba(22, 22, 255, 0.5);
// 	// background: #ff2222;
// }
// .green {
// 	 //background: rgba(22, 255, 22, 0.5);
// 	 color: rgba(22, 255, 22, 0.5);
// 	// background: #ff2222;
// }

// .hidden-xs {
// 	background-color: #f5f5f5;
// 	border-color: #f5f5f5;
// 	border-radius: 0;
// 	padding: 0;
// }

// li:hover {
// 	border-bottom: 5px solid #7F051C;
// }

// .act {
// 	border-bottom: 5px solid #fbc90d;
// }

// .act:focus {
// 	color: black !important;
// }

// // fin Barre navigation

// .submenu {
// 	font-family: 'PT Serif', serif;
// 	font-weight: '400';
// 	font-style: italic;
// 	font-size: 18px;
// }

// .vtitle {
// 	font-family: 'PT Serif', serif;
// 	font-size: 20px;
// 	padding-bottom: 10px;
// 	text-align: center;

// }

// .veille {
// 	padding-left: 5px;
// }


// article {
// 	margin-top: 20px;
// }




// //panel_admin
// .admin_class {
// 	background-color: white;
// 	border-radius: 8px;
// 	border-style: solid;
// 	border-color: #dedede;
// 	border-width: 1px;
// 	padding: 13px;
// 	margin-bottom: 20px;
// 	position: right, top;
// }

// .test-moi {
// 	 text-decoration:underline;
// }


