// Place all the styles related to the Application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,200,700);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic);


@import "compass";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/transition";

@media only screen and (max-width: 1030px) {
	.button6 {
		display: none !important;
	}
}

@media only screen and (max-width: 500px) {
    #menu_toggle {
        display: block !important;
    }
    .navigation {
    	display: none !important;
    }
}

/* design Karine */
/*--
body {
	top: 0;
	left: 0;
	background-color: #f4f4f5;

	header {
		margin-bottom: 100px;
		center {
			outline: none;
			.title_header {
				display: table-cell;
				height: 300px;
				font-family: sans-serif;
				text-align: center;
				text-align: center;
				vertical-align: middle;
				outline: none;
				span {
					&.name {
						font-size: 60px;
						font-weight: 300;
					}
					&.sub {
						color: #ccb8a1;
						font-size: 20px;
						opacity: 0.8;
					}
				}
				.line {
					width: 190px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 5px;
					border-bottom: 1px solid #000;
				}
			}
		}
		#menu_toggle {
			display: none;
			float: right;
		}
		#menu_inline {
			position: relative;
			width: 100%;
			height: 46px;
			padding:0px;
			margin:0 auto !important;
			font-size: 11px;
			text-align: center;
			ul.navigation {
				display: inline-block;
				overflow: hidden;
				li {
					position:relative;
					display: block;
					float: left;
				    border-left: 1px solid rgba(9, 9, 9, 0.125);
				    list-style: none;
				    outline: none;
				    a {
				    	position: relative;
				    	display: inline-block;
				    	z-index:2;
				    	width: 140px;
				    	height: 46px;
					    padding: 12px 20px 14px;
					    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
					    font: 20px sans-serif;
					    color: #5d5d5d;
					    text-decoration:none !important;
					    white-space:nowrap;
					    &:hover{
					       height: 60px;
						   margin-bottom: 30px;
						   padding-top: 20px;
						   background: rgba(9, 9, 9, 0.125);
						   border-top-left-radius: 5px;
						   border-top-right-radius: 5px;
						 
						    &:before {
							    content:"";
								position: absolute;
								left: calc(50% - 70px);
								top: 100%;
								border-top: 30px solid rgba(9, 9, 9, 0.125);
								border-top-color: rgba(9, 9, 9, 0.125);
								border-right: 70px solid transparent;
								border-left: 70px solid transparent;
							}
						}
						&:active {
							outline: 0;
						}
				    }
				    &:hover {
				    	border: none;
				    }
				    &:last-child{
				    	border-right: 1px solid rgba(9, 9, 9, 0.125);
					    &:hover {
					    	border: none;
					    }
					}
				    &:after {
					    content:'.';
					    text-indent:-9999px;
					    overflow:hidden;
					    position:absolute;
					    width:100%;
					    height:100%;
					    top:0;
					    left:0;
					    z-index:1;
					    opacity:0;
					    @include background-image(linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5)));
					    @include box-shadow(1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff);
					    @include transition(all 0.25s);
				    }
				}
				li:hover ~ li:nth-child(n+1) {
					border-color: red;
				}
			}
		}
	}

	#left_sidebar {
		width: 290px;
		height: 600px;
		float: left;
		border-right: 1px solid #000;
		.profil {
			color: #5d5d5d;
			font-size: 20px;
			margin-left: 50px;
		}
	}

	#central_block {
		width: 800px;
		height: 400px;
		border: 1px solid #000;
	}

	footer {
		position: fixed;
		float: right;
		width: 100%;
		height: 200px;
		bottom: 0;
		background-color: #2c2924;
		.infos_footer {
			.phone {}
			.mail {}
			.adress {}
			.follow {
				position: relative;
				float: right;
				top: 80px;
				right: 100px;
				span {
					position: relative;
					display: inline-block;
					top: -5px;
					margin-right: 20px;
					font-size: 20px;
					color: rgba(255,255,255,0.8);
					
				}
				div {
					display: inline-block;
					width: 50px;
					height: 35px;
					outline: none;
					&.twitter {
						background-image: asset-url("twitter_logo.png", image);
						background-repeat: no-repeat;
						background-size: 40px auto;
						cursor: pointer;
						opacity: 0.8;
						&:hover {
							opacity: 1;
						}
					}
					&.linkedin {
						background-image: asset-url("linkedin_logo.png", image);
						background-repeat: no-repeat;
						background-size: 40px auto;
						cursor: pointer;
						opacity: 0.8;
						&:hover {
							opacity: 1;
						}

					}
				}
			}
		}
	}
}
--*/



body {
	background-color: #f5f5f5;
	.container {
		padding: 0;
	}
	.bloc-g {
		background-color: white;
		border-radius: 1px;
		border-style: solid;
		border-color: #dedede;
		border-width: 1px;
		padding: 13px;
		margin-bottom: 20px;
		@include box-shadow(black 2px);
	}
	nav {
		.navbar-header {
			background-color: white;
		}
	}
	header	{
		background-color: white;
		font-family: 'Titillium Web', sans-serif;
		text-transform: uppercase;
		color: #272926;
		border-bottom: 1px solid #d0d0d0;
		padding-bottom: 15px;
		.title {
			font-weight: 700;
			font-size: 42px;
			letter-spacing: 3px;
		}

		.subtitle {
			font-size: 24px;
			font-weight: 200;
		}
		.btn {
			background-color: white;
			font-family: 'PT Serif', serif;
			font-weight: '700';
		}
		.fix-header{
			padding-top: 50px;
		}
		form {
			display: inline;
		}
		nav {
			border-top: #dedede;
		}
	}
	aside {
		&.profil {
			.name {
				font-family: 'Titillium Web', sans-serif;
				letter-spacing: 1px;
			}
			.mail {
				font-weight: 700;
			}
		}
	}
	section {
		h3 {
			&.interview {
			font-family: 'Titillium Web', sans-serif;
			font-weight: 600;
			color:#2b84d3;
			display: inline-block;
			}
		}
		&.index {
			article {
				padding-left: 5px;
			}
		}
		&.veille {
			line-height: 25px;
		}
	}


	nav {
		overflow: hidden;
		&.visible-xs-block {
			.submenu {
				padding-bottom: 15px;
			}
		}
	}

	/* -- Panneau Admin - Devise -- */
	.fix-mobile {
		margin: 30px;
	}

	//LUCCA DEVISE + FORM + ADMIN
	.form-signin {
		max-width: 300px;
		padding: 19px 29px 29px;
		margin: 0 auto 20px;
		background-color: #fff;
		border: 1px solid #e5e5e5;
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
		        border-radius: 5px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		        box-shadow: 0 1px 2px rgba(0,0,0,.05);
	}

	.form-signin .form-signin-heading,
	.form-signin .checkbox {
			
	}
	.form-signin input[type="text"],
	.form-signin input[type="password"] {
		font-size: 16px;
		height: auto;
		margin-bottom: 15px;
		padding: 7px 9px;
	}
}
//END OF LUCCA
// IBRAHIM

.item img {
	min-height: 500px;
	max-height: 500px;
	width: auto;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.carousel {
	width: 100%;
	height: 355px;
	overflow: hidden;
}

.separator {
	width: 40px;
	height: 5px;
	background: #fbc90d;
	margin-top: 25px;
}

.separator_slide {
	width: 40px;
	height: 5px;
	margin-top: 25px;
}

.profil-separator {
	width: 40px;
	height: 5px;
	background: #ddddd5;
	margin-top: 15px;
	margin-bottom: 5px;
}

.profil-separator-bottom {
	width: 70px;
	height: 5px;
	background: #ddddd5;
	margin-top: 15px;
	margin-bottom: 15px;
}

.separator-article {
	width: 33%;
	margin-left: 33%;
	height: 5px;
	background: #ddddd5;
	margin-bottom: 15px;
}


.separator-index {
	width: 33%;
	height: 5px;
	background: #ddddd5;
	margin-bottom: 15px;
}

.red {
	 //background: rgba(255, 22, 22, 0.5);
	 color: rgba(255, 22, 22, 0.5);
	// background: #ff2222;
}
.blue {
	 //background: rgba(22, 22, 255, 0.5);
	 color: rgba(22, 22, 255, 0.5);
	// background: #ff2222;
}
.green {
	 //background: rgba(22, 255, 22, 0.5);
	 color: rgba(22, 255, 22, 0.5);
	// background: #ff2222;
}

.hidden-xs {
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	border-radius: 0;
	padding: 0;
}

nav li:hover {
	border-bottom: 5px solid #7F051C;
}

.act {
	border-bottom: 5px solid #fbc90d;
}

.act:focus {
	color: black !important;
}

// fin Barre navigation

.submenu {
	font-family: 'PT Serif', serif;
	font-weight: '400';
	font-style: italic;
	font-size: 18px;
}

.vtitle {
	font-family: 'PT Serif', serif;
	font-size: 20px;
	padding-bottom: 10px;
	text-align: center;

}

.veille {
	padding-left: 5px;
}


article {
	margin-top: 20px;
}
.carousel-inner {
	/*background-image: -webkit-linear-gradient(left, rgba(0, 255, 255, 0.5) 100%, rgba(0, 0, 255, 0.00001) 0%);*/
	background-color: #35616F;
}


//panel_admin
.admin_class {
	background-color: white;
	border-radius: 8px;
	border-style: solid;
	border-color: #dedede;
	border-width: 1px;
	padding: 13px;
	margin-bottom: 20px;
	position: right, top;
}

.act_lang {
	 text-decoration:underline;
}

//actualite
.atitle {
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	margin-bottom: 15px;
}
.actu_idee {
	font-family: 'PT Serif', sans-serif;
	color: #32589C;
}
.actu_info {
	font-family: 'Oswald', sans-serif;
	color: #551A8B;
}
.actu_news {
	font-family: 'Titillium Web', sans-serif;
	color: #E96B56;
}
.actu_text {
	padding-left: 5px;
}
.pagination	a {
	border-left: 1px;
	border-right: 1px;
	border-top: 0;
	border-bottom: 0;
	border-style: solid;
	border-color: blue;
}
.pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
.pagination a, .pagination span {
    padding: 0.2em 0.3em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }




